.artist,
.askmain {
  padding-top: 30px;
}

/* label color */
.input-field label {
  color: red;
}
/* label focus color */
.input-field input[type='text']:focus + label,
.input-field input[type='email']:focus + label,
.input-field textarea:focus + label {
  color: red !important;
}
/* label underline focus color */
.input-field input[type='text']:focus,
.input-field input[type='email']:focus,
.input-field textarea:focus {
  border-bottom: 1px solid red !important;
  box-shadow: 0 1px 0 0 red !important;
}
/* valid color */
.input-field input[type='text'].valid,
.input-field input[type='email'].valid,
.input-field textarea.valid {
  border-bottom: 1px solid red;
  box-shadow: 0 1px 0 0 red;
}
/* invalid color */
.input-field input[type='text'].invalid,
.input-field input[type='email'].invalid,
.input-field textarea.invalid {
  border-bottom: 1px solid grey;
  box-shadow: 0 1px 0 0 grey;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: red;
}

.contact1,
.contact2 {
  padding: 20px;
}
